@media (max-width: 1115px) {
    .blog {
        margin-left: -3.5em;
    }
    @media (max-width: 1047px) {
        .blog {
            margin-left: -4.5em;
           
        }
    }
    @media (max-width: 888px) {
        .blog {
          
         
           
      }  
}
    @media (max-width: 575px) {
        .blog {
            margin-left: 7.8em;
           
        }
        .blog-title {
            overflow: none;
        }
    }
    @media (max-width: 472px) {
        .blog {
            margin-left: 4.8em;
           
        }
    }
    @media (max-width: 419px) {
        .blog {
            margin-left: 2.8em;
           
        }
    }
    @media (max-width: 374px) {
        .blog {
            margin-left: 1.8em;
           
        }
    }
    @media (max-width: 374px) {
        .blog {
            margin-left: 0;
           
        }
    }
}
@media (max-width: 549px) {
    .blog-title {
        margin-left: -3em; 
    }
}
@media (max-width: 1075px) {
    .course-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
/* course */
@media (max-width: 766px) {
    .course {
        margin-left: 2.8em;
    } 
}
@media (max-width: 765px) {
    .course-title {
        margin-left: -6em;
    } 
    @media (max-width: 765px) {
        .course {
            margin-left: -1.5em;
    }
}
/* About */
.profile-algin {

}
@media (max-width: 765px) {
    .profile-algin {
        margin: 0 auto;
    } 
}